// Specific CSS for your home-page
.landing-top-buffer { margin-top:50px; }

.service-category {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

}

.service-category img {
  background: white;
  height: 50px;
}

.service-category:hover {
  transform: scale(1.05);
  // @extend .border;
  // @extend .border-primary;
  // @extend .rounded;
}

.service-category-div {

}
