// Specific CSS for your home-page
.landing-top-buffer { margin-top:50px; }

.service-category {
  background: white;
  align-items: center;
  height: 80px;
  padding: 5px;
}

.service-category img {
  background: white;
  height: 50px;
}
