.dashboard-top-buffer { margin-top:20px; }

.user-account img {
  width: 100px;
  height: 100px;
}

.user-account i {
  margin-right: 4px;
}

.user-account p {
  line-height: 0.75em;
}

#navbar-account li {
  padding-left:25px;
  padding-right:25px;
}

.dashboard-results-card img {
  width: 60px;
  height: 60px;
}

.user-account-info p {
  line-height: 0.75em;
}

.user-account-info i {
  margin-right: 4px;
}

.user-account-details {
  width: 70%;
}

.user-account {
  height: min-content;
}

.size-icon {
  font-size: 20px;
}