<div class="footer">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <%= image_tag('logo_blank.png') %>
  </div>
  <div class="footer-info col-sm-12 col-md-6 col-lg-4">
    <p>Copyright 2021 Capybaras Enterprise</p>
    <p>Ladeira da Glória 26, Rio de Janeiro</p>
  </div>
  <div class="footer-info col-sm-12 col-md-6 col-lg-2">
    <p>Contact us</p>
    <p>Work with us</p>
  </div>
   <div class="footer-links col-sm-12 col-md-6 col-lg-2">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
